* {
    margin: 0;
}

/* Estilos para la pantalla pequeña */

@media only screen and (max-width: 600px) {
    body {
        background-color: antiquewhite;
    }

    header {
        width: auto;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    header img {
        max-width: 25%;
        margin: 2%;
        border-radius: 10px;        
    }

    .search-container {
        display: flex;
        align-items: center;
        margin-right: 2%;
    }
    
    #search-input {
        width: 60%;
        padding: 8px;
        font-size: 16px;
        border: none;
        border-radius: 5px 0 0 5px;
    }
    
    #search-button {
        padding: 3%;
        font-size: 16px;
        border: none;
        border-radius: 0 5px 5px 0;
        background-color: #98DFD6;
        color: #fff;
        cursor: pointer;
    }

    nav {
        margin: 0;
    }
    nav ul {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        list-style: none;
        grid-gap: 1%;
        padding: 0;
        justify-content: center;
    }

    nav li {
      text-align: center;
        margin: 5% 2%;
    }
    
    nav a {
        color: #00235B;
        text-decoration: none;
        transition: 0.35s ease-in-out;
    }

    nav a:hover {
        color: red;
        font-size: large;
    }

    main .main-img {
        border: 3px dashed black;
        height: 400px;
        width: auto;
    }

    .main-img img {
        width: 100%;
        height: 100%;
    }

    #productos h2 {
        text-align: center;
    }

    #productos li {
        font-size: 18px;
        margin-bottom: 10px;
    }

    .seccion {
    position: relative;
    margin-top: 5%; /* para separar la sección del contenido anterior */
    }
    
    .seccion h2 {
        font-size:x-large;
        text-align: center;
        position: relative;
        z-index: 1;
    }
    
    .seccion h2::before,
    .seccion h2::after {
        content: "";
        position: absolute;
        top: 50%;
        border-top: 1px solid #000;
        width: 15%;
        margin-top: -1px;
    }
    
    .seccion h2::before {
        left: 0%;
    }
    
    .seccion h2::after {
        right: 0%;
    }

    .matriz-contenedor {
        margin: 3% 10%;
    }

    .matriz {
        display: grid;
        margin-top: 5%;
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 5%;
    }
    
    .item {
        box-sizing: border-box;
        border: 2px dashed black;
        padding: 10px;
        text-align: center;
        aspect-ratio: 1 / 1;    
    }

    .descarga {
        display: flex;
        justify-content: center;
        margin: 10% 0;
        padding: 35px;
        border: 2px dashed #999;
        border-radius: 5px;
        text-align: center;
    }
    
    .matriz-contenedor a {
        text-decoration: none;
        color: #333;
        font-weight: bold;
    }

    .footer {
        display: flex;
        width: auto;
        justify-content: flex-start;
        background-color: antiquewhite;
        margin: 0 10%;
        padding-bottom: 5%;

    }
    
    .contacto {
        margin: 0;
    }
    
    .contacto h2 {
        font-size: 24px;
        margin-bottom: 2%;
        margin-left: -2%;
    }
    
    .contacto form {
        display: flex;
        flex-direction: column;
        align-items:normal;
    }
    
    .contacto label {
        display: block;
        font-size: 16px;
        margin-bottom: 5px;
    }
    
    .contacto input[type="text"],
    .contacto input[type="email"],
    .contacto textarea {
        width: 100%;
        padding: 10px;
        margin-bottom: 10px;
        border-radius: 5px;
        border: 1px solid #ccc;
        font-size: 16px;
    }
    
    .contacto input[type="submit"] {
        background-color: #008080;
        color: #fff;
        border: none;
        padding: 10px;
        width: 20%  ;
        border-radius: 5px;
        cursor: pointer;
        font-size: 90%;
        align-self: flex-end;
    }
    
    .contacto input[type="submit"]:hover {
        background-color: #006666;
    }
    
  }

  
/* Estilos para pantallas mayores a 600px */
@media only screen and (min-width: 601px) {
    body {
        background-color: antiquewhite;
    }


    header {
      display: flex;
      justify-content: space-between;
      align-items: center;
    }

    header img {
        margin-left: 10rem;
        margin-top: 20px;
        margin-bottom: 20px;
        border-radius: 10px;        
    }

    .search-container {
        display: flex;
        align-items: center;
        margin-right: 25rem;
      }
      
      #search-input {
        width: 200px;
        padding: 8px;
        font-size: 16px;
        border: none;
        border-radius: 5px 0 0 5px;
      }
      
      #search-button {
        padding: 8px;
        font-size: 16px;
        border: none;
        border-radius: 0 5px 5px 0;
        background-color: #98DFD6;
        color: #fff;
        cursor: pointer;
      }

    nav {
      margin: 0;
      box-sizing: content-box;
    }
    nav ul {
      display: flex;
      list-style: none;
      margin-left: 9rem;
      padding: 0;
    }
    nav li {
      margin: 1rem;
    }
    nav a {
      padding: 18%;
      color: #00235B;
      text-decoration: none;
      transition: 0.35s ease-in-out;
    }

    nav a:hover {
        color: red;
        font-size: large;
        
    }

    main .main-img {
        border: 3px dashed black;
        height: 600px;
        width: auto;
    }

    .main-img img {
        width: 100%;
        height: 100%;
    }

    #productos h2 {
        text-align: center;
    }

    #productos li {
        font-size: 18px;
        margin-bottom: 10px;
    }

    .seccion {
        position: relative;
        margin-top: 5%; /* para separar la sección del contenido anterior */
      }
      
      .seccion h2 {
        font-size:x-large;
        text-align: center;
        position: relative;
        z-index: 1;
      }
      
      .seccion h2::before,
      .seccion h2::after {
        content: "";
        position: absolute;
        top: 50%;
        border-top: 1px solid #000;
        width: 25%;
        margin-top: -1px;
      }
      
      .seccion h2::before {
        left: 0%;
      }
      
      .seccion h2::after {
        right: 0%;
      }

      .matriz-contenedor {
        margin: 3% 10%;
      }

      .matriz {
        display: grid;
        margin-top: 5%;
        grid-template-columns: repeat(4, 1fr);
        grid-gap: 5%;
      }
      
      .item {
        box-sizing: border-box;
        border: 2px dashed black;
        padding: 20px;
        text-align: center;
        aspect-ratio: 1 / 1;    
      }

      .descarga {
        display: flex;
        justify-content: center;
        margin: 5% 0;
        padding: 35px;
        border: 2px dashed #999;
        border-radius: 5px;
        text-align: center;
      }
      
       .matriz-contenedor a {
        text-decoration: none;
        color: #333;
        font-weight: bold;
      }

      .footer {
        display: flex;
        width: 40%;
        justify-content: flex-start;
        background-color: antiquewhite;
        margin: 0 10%;
        padding-bottom: 5%;

      }
      
      .contacto {
        margin: 0 2%;
      }
      
      .contacto h2 {
        font-size: 24px;
        margin-bottom: 2%;
        margin-left: -2%;
      }
      
      .contacto form {
        display: flex;
        flex-direction: column;
        align-items:normal;
      }
      
      .contacto label {
        display: block;
        font-size: 16px;
        margin-bottom: 5px;
      }
      
      .contacto input[type="text"],
      .contacto input[type="email"],
      .contacto textarea {
        width: 100%;
        padding: 10px;
        margin-bottom: 10px;
        border-radius: 5px;
        border: 1px solid #ccc;
        font-size: 16px;
      }
      
      .contacto input[type="submit"] {
        background-color: #008080;
        color: #fff;
        border: none;
        padding: 10px;
        width: 20%  ;
        border-radius: 5px;
        cursor: pointer;
        font-size: 16px;
        align-self: flex-end;
      }
      
      .contacto input[type="submit"]:hover {
        background-color: #006666;
      }
      

}